.wbro-product-detail-tag {
  cursor: pointer;
  border-radius: 4px;
  background-color: white;
  padding: 5px 10px;
  border: 1px solid #ccc;
  display: inline-block;
  margin: 0;
  border: 1px solid #ccc;
  max-width: 90%;
  word-wrap: break-word;
  user-select: none;
}

%taghover {
  cursor: pointer;
  border-radius: 4px;
  background-color: white;
  padding: 3px 9px;
  // margin: 0px 4px 8px 4px;
  border: 1px solid #ccc;
  display: inline-block;
  border: 3px solid #08979c;
}

.wbro-product-detail-tag.active {
  @extend %taghover;
}

.wbro-product-detail-tag:hover {
  @extend %taghover;
  background-color: #a5e4e4;
}
