  
  .nav {
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
    background-color: white;
    display: inline-flex;
  }
  
  .nav-tabs {
    border-bottom: 2px solid rgb(8, 151, 156);
  }
  
  .nav-tabs li {
    float: left;
    margin-bottom: -1px;
    white-space: nowrap;
  }
  
  .nav li.active {
    background-color: rgb(8, 151, 156) !important;
  }
  
  .nav li.active a {
    text-decoration: none;
    color: white;
  }
  
  .nav li {
    position: relative;
    display: flex;
  }
  
  .nav-tabs li a {
    margin-right: 2px;
    border: 1px solid transparent;
    border-radius: 4px 4px 0 0;
    color: rgb(8, 151, 156);
  }
  
  .nav li a {
    position: relative;
    padding: 10px 15px;
    text-decoration: none;
  }
  
  .wbro-product-detail-nav-container {
    /* position: absolute; */
    width: 100%;
    overflow: auto;
  }
  
  .wbro-product-detail-nav-container::-webkit-scrollbar {
    width: 0px; /* remove scrollbar space */
    background: transparent; /* optional: just make scrollbar invisible */
  }
  /* optional: show position indicator in red */
  .wbro-product-detail-nav-container:-webkit-scrollbar-thumb {
    background: #ff0000;
  }
  
  /* .wbro-product-detail-nav-container-fixed {
    position: fixed;
    top: 0px;
  } */