.variation-row {
  width: 100%;
  text-align: center;
}

.variation-row div:first-child {
  text-align: left;
}

.bucket-tag-select.indicator {
  position: relative;
  left: 5%;
  top: -1px;
  border-left: 1px solid #e8e8e8;
  border-right: 1px solid #e8e8e8;
  border-bottom: 1px solid #e8e8e8;
  text-align: center;
  width: 64px;
  line-height: 24px;
  z-index: 1;
  background-color: white;

  a {
    display: table-cell;
    color: gray;
    width: 64px;
    height: 16px;
  }
}

@media only screen and (max-width: 600px) {
  .bucket-tag-select.indicator {
    left: 70%;
  }
}
