.variation-row,
.qty-input-list-row {
  width: 100%;
}

.qty-input-field {
  float: right;
  max-width: 100%;
}

.bucket-tag-select.indicator {
  position: relative;
  left: 32px;
  border-left: 1px solid #e8e8e8;
  border-right: 1px solid #e8e8e8;
  border-bottom: 1px solid #e8e8e8;
  text-align: center;
  width: 64px;
  line-height: 24px;
  z-index: 1;
  background-color: white;

  a {
    display: table-cell;
    color: gray;
    width: 64px;
    height: 16px;
  }
}
.wbro-product-detail-table_col_fixed {
  position: fixed;
  background-color: rgb(8, 151, 156) !important;
  top: 0px;
  left:-20px;
  transition: color 0s;
  width: calc(100% + 20px);
  overflow: auto;
  z-index: 1000;
  // li.active > a {
  //   transition: color 0s;
  //   background-color: rgb(8, 151, 156) !important;
  //   color: white;
  // }
}

.list-title {
  visibility: hidden;
  position: fixed;
}

@media only screen and (max-width: 600px) {
  .list-title {
    visibility: visible;
    position: relative;
    color: white;
    font-size: 12px;
    display: inline-block;
    z-index: 500;
    padding-top:10px;
    padding-left:10px;
    font-weight: bolder;
    opacity: 1;
    border-bottom: 0px solid #e8e8e8;
  }
}
