.variation-row,
.qty-input-list-row {
  width: 100%;
}

.qty-input-field {
  float: right;
  max-width: 100%;
}

.bucket-tag-select.indicator {
  position: relative;
  left: 32px;
  border-left: 1px solid #e8e8e8;
  border-right: 1px solid #e8e8e8;
  border-bottom: 1px solid #e8e8e8;
  text-align: center;
  width: 64px;
  line-height: 24px;
  z-index: 1;
  background-color: white;

  a {
    display: table-cell;
    color: gray;
    width: 64px;
    height: 16px;
  }
}

.list-title {
  visibility: hidden;
  position: fixed;
}

@media only screen and (max-width: 600px) {
  .list-title {
    visibility: visible;
    position: relative;
    display: inline-block;
    border-bottom: 2px solid #e8e8e8;
  }
}
