.App {
  margin: 1.5rem;
}
.wbro-product-detail-breadcrumb {
  padding: 16px;
}
.wbro-product-detail-product-name {
  font-size: 16px;
  line-height: 22px;
  padding: 10px 20px 0;
  margin-bottom: 0;
  font-weight: 400;
  vertical-align: baseline;
}
.wbro-product-detail-feedback-rate {
  color: #fadb14 !important;
  font-size: 16px;
}
.wbro-product-detail-feedback-indicator {
  line-height: 20px;
  margin: 5px 0 0 20px;
  zoom: 1;
  overflow: hidden;
}
.wbro-product-detail-activity-banner-left {
  padding: 16px;
  color: #ffffff;
  font-weight: 700;
  font-size: 18px;
  background-color: #e62e04;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
}
.wbro-product-detail-activity-banner-right {
  padding: 16px;
  background-color: #fa8c16;
  color: #ffffff;
  text-align: center;
  font-weight: 700;
  font-size: 18px;
}

.wbro-product-detail-product-price-area {
  padding: 10px 20px 0;
}
.wbro-product-detail-price-dollar {
  font-size: 24px;
  font-weight: 400;
}
.wbro-product-detail-product-price-tags {
  display: inline-block;
  margin: 5px 0px 0 5px;
  background-color: #e62e04;
  color: #fff;
  line-height: 20px;
  padding: 0 5px;
}

.wbro-product-detail-product-price-tags.price {
  margin: 5px 24px 0 5px;
}
.wbro-product-detail-add-to-cart-button-row {
  padding: 15px 0;
  /* border-bottom: 1px solid #eee; */
}
.wbro-product-detail-tag {
  cursor: pointer;
  border-radius: 4px;
  background-color: white;
  padding: 5px 10px;
  margin: 0px 4px 8px 4px;
  border: 1px solid #ccc;
  display: inline-block;
}
.wbro-product-detail-tag:hover {
  /* background-color: #89bcbc; */
}
.wbro-product-detail-padding-control {
  padding: 10px 20px 0;
}

.wbro-product-detail-buyer-production-banner-horizatal {
  padding: 15px 20px 18px 60px;
  background-color: #fff;
  margin-top: 0;
  margin-left: 5px;
  padding-top: 0;
}
.wbro-product-detail-bp-ima {
  position: absolute;
  margin-left: -45px;
  width: 32px;
  height: 40px;
  background: url(./bp-icon.421d67f9.png) no-repeat 0 0;
}
.wbro-product-detail-buyer-protection-info {
  margin-bottom: 0;
  font-size: 22px;
  line-height: 30px;
  font-weight: 700;
  color: #369;
}
.wbro-product-detail-buyer-production-banner-horizatal li {
  padding: 2px 20px;
  margin-left: 0;
  display: block;
  list-style: none;
  color: #666;
  background: url(./bp-icon.421d67f9.png) no-repeat -88px -148px;
  background-position: -88px -145px;
}
.wbro-product-detail-buy-protection-info-list {
  padding-inline-start: 0px;
}
.wbro-product-detail-media-screen-colon::after {
  content: ":";
}
.wbro-product-detail-media-screen-title::before {
  content: "Price";
}
.wbro-product-detail-qty-picker-avaiable {
  display: inline;
}
.image-gallery-container {
  padding: 16px;
  height: 100%;
}

.wbro-product-detail-detail-action-bar-fixed-tool-bar {
  display: none;
}
.button-fixed-flex-grow {
  flex-grow: 1;
  margin-left: 16px;
}
.wbro-product-detail-action-favorite-button-fixed {
  width: 40px;
  height: 40px;
  color: #ff7605;
  border: 1px solid #ebebeb;
  display: table-cell;
  text-align: center;
  line-height: 40px;
  font-size: 20px;
  font-weight: 400;
}
.wbro-product-detail-action-favorite-button-fixed:hover {
  color: #ff912c;
}
.wbro-product-detail-product-event-tag {
}

.wbro-product-detail-product-event-tag {
  margin: 0;
  padding: 0;
  /* position:absolute;
  right:24px;
  bottom:-12px; */
  list-style: none;
}
.wbro-product-detail-product-event-tag li,
.wbro-product-detail-product-event-tag a {
  float: left;
  height: 24px;
  line-height: 24px;
  position: relative;
  font-size: 16px;
  /* font-family: 'Pacifico', cursive; */
  top: 3px;
}
.wbro-product-detail-product-event-tag a {
  margin-left: 20px;
  padding: 0 10px 0 12px;
  /* background:#E74C3C; */
  color: #fff;
  text-decoration: none;
  -moz-border-radius-bottomright: 4px;
  -webkit-border-bottom-right-radius: 4px;
  border-bottom-right-radius: 4px;
  -moz-border-radius-topright: 4px;
  -webkit-border-top-right-radius: 4px;
  border-top-right-radius: 4px;
}
.wbro-product-detail-product-event-tag a:before {
  content: "";
  float: left;
  position: absolute;
  top: 0;
  left: -12px;
  width: 0;
  height: 0;
  /* border-color:transparent #E74C3C transparent transparent; */
  border-style: solid;
  border-width: 12px 12px 12px 0;
}
.wbro-product-detail-product-event-tag a:after {
  content: "";
  position: absolute;
  top: 10px;
  left: 0;
  float: left;
  width: 4px;
  height: 4px;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  background: #fff;
  -moz-box-shadow: -1px -1px 2px #004977;
  -webkit-box-shadow: -1px -1px 2px #004977;
  box-shadow: -1px -1px 2px #004977;
}

.wbro-product-detail-product-event-tag-red {
  background: #e74c3c;
}
.wbro-product-detail-product-event-tag-red:before {
  border-color: transparent #e74c3c transparent transparent;
}
.wbro-product-detail-product-event-tag-yellow {
  background: #f2cf66;
}
.wbro-product-detail-product-event-tag-yellow:before {
  border-color: transparent #f2cf66 transparent transparent;
}

.wbro-product-detail-number-indicator {
}
.title-price-divier {
  margin: 10px 0px 0px 0px !important;
}
.wbro-product-detail-small-light-indicator {
  color: black;
  font-weight: 100;
}
.wbro-product-detail-wishlist-color {
  color: black;
  font-weight: 400;
}
.wbro-product-detail-wishlist-color:hover {
  color:rgb(8, 151, 156);
  font-weight: 400;
}

@media only screen and (max-width: 992px) {
  .wbro-product-detail-detail-action-bar-fixed-tool-bar {
    position: fixed;
    left: 0;
    bottom: 0;
    z-index: 999;
    width: 100%;
    height: 76px;
    padding: 16px;
    background-color: #fff;
    border-top: 1px solid #f2f2f2;
    display: flex;
  }
}

@media only screen and (max-width: 1280px) {
  .wbro-product-detail-number-indicator {
    display: block;
    padding: 10px 20px 0;
  }
}
@media only screen and (max-width: 1200px) {
  .wbro-product-detail-media-screen-colon::after {
    content: "";
  }
  .wbro-product-detail-media-screen-colon {
    font-weight: 600;
  }
  .wbro-product-detail-media-screen-title::before {
    content: "";
  }
  .wbro-product-detail-media-screen-title {
    font-weight: 900;
  }
  .image-gallery-container {
    padding: 0;
  }
  .App {
    margin: 0px;
  }
  
}
@media only screen and (max-width: 768px) {
  .wbro-product-detail-product-name {
    font-size: 16px;
    line-height: 22px;
    padding: 10px 20px 0;
    margin-bottom: 0;
    font-weight: 700;
    vertical-align: baseline;
  }
  .wbro-product-detail-product-price-tags.price {
    margin-right: auto;
  }
  .small-hidden {
    position: fixed;
    visibility: hidden;
  }

  .wbro-product-detail-qty-picker-avaiable {
    display: block;
  }
}

.product-detail-button {
  border-radius: 4px !important;
  width: 160px;
  height: 40px;
  cursor: pointer;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  -ms-border-radius: 0px;
  -o-border-radius: 0px;
  outline: none;
  border: none;
}

.product-detail-button.add-to-cart {
  background-color: rgb(8, 151, 156);
  color: white;
  font-weight: 400;
  opacity: 0.8;
  margin-right: 8px;
}

.product-detail-button:hover {
  opacity: 1 !important;
}

.product-detail-button.link-to-ebay {
  background-color: rgba(8, 151, 156, 0.2);
  font-weight: 400;
  opacity: 0.8;
  -webkit-appearance: none;
  -moz-appearance: none;
}

.clearfix {
  overflow: auto;
}

.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

.description {
  padding: 15px 15px 0 15px;
}

.product-detail-card {
  margin-top: 16px;
  background-color: white;
  margin-right: 64px;
  margin-left: 64px;
  /* border: 1px solid #E8E8E8; */
}

@media only screen and (max-width: 768px) {
  .product-detail-card {
    margin-right: 0;
    margin-left: 0;
  }
}